@import "queries";
$primary-color: rgb(219,44,77);
$secondary-color: rgb(255,255,255);

#aboutSection {
  display: flex;
  flex-direction: column;
  padding: 10vh 5vw 20px;
  width: 100%;
  @include small {
    padding-left: 9vw;
    padding-right: 9vw;
  }

  #aboutHeading {
    align-self: center;
    color: $primary-color;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 35px;
    margin-top: 20px;
    text-align: center;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.1);
    @include small {
      font-size: 2.5rem;
    }
  }

  .aboutP {
    color: rgba(219,44,77,0.8);
    font-size: 1.5rem;
    line-height: 1.9rem;
    @include small {
      font-size: 1.7rem;
    }

    a {
      color: rgba(219,44,77,0.8);
      text-decoration: none;

      span {
        font-size: 2.2rem;
      }
    }
  }
}

#disclaimerSection {
  background-color: $primary-color;
  display: flex;
  flex-direction: column;
  padding: 20px 5vw;
  width: 100%;
  @include small {
    padding: 20px 9vw;
  }

  #disclaimerHeading {
    align-self: center;
    color: $secondary-color;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 30px;
    text-shadow: 0 4px 3px rgba(0,0,0,0.4), 0 8px 13px rgba(0,0,0,0.1), 0 18px 23px rgba(0,0,0,0.1);
    @include small {
      font-size: 2.5rem;
    }
  }

  .disclaimerP {
    color: $secondary-color;
    font-size: 1.5rem;
    line-height: 1.9rem;
    @include small {
      font-size: 1.7rem;
    }

    a {
      color: $secondary-color;
      text-decoration: none;

      span {
        font-size: 2.2rem;
      }
    }
  }
}
