@import "about";
@import "vids";
@import "queries";
@import "tree";
@import "tree_mobile";
$primary-color: rgb(219,44,77);
$secondary-color: rgb(255,255,255);

* {
  box-sizing: border-box;
  font-family: 'Merriweather', serif;
  font-size: 10px;
  margin: 0;
  padding: 0;
}
@mixin tree-portrait($portaitPath) {
  align-items: center;
  background-image: url($portaitPath);
  background-size: cover;
  border-radius: 100%;
  box-shadow: 0 0 0 5px #c8c8c8;
  display: flex;
  height: 150px;
  justify-content: center;
  margin: 10px;
  width: 150px;
}

#menu {
  align-items: center;
  background-color: $primary-color;
  display: flex;
  flex-direction: row;
  height: 10vh;
  justify-content: space-between;
  padding-left: 2vw;
  padding-right: 2vw;
  position: fixed;
  width: 100%;
  z-index: 2;

  #menuHome {
    color: $secondary-color;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 4px 3px rgba(0,0,0,0.4), 0 8px 13px rgba(0,0,0,0.1), 0 18px 23px rgba(0,0,0,0.1);
    @include small {
      font-size: 3rem;
    }
  }

  #menuAbout {
    color: $secondary-color;
    font-size: 1.5rem;
    text-decoration: none;
    @include small {
      font-size: 1.7rem;
    }
  }

  #menuAbout:hover {
    text-decoration: underline;
  }

  #menuFilms {
    color: $secondary-color;
    font-size: 1.5rem;
    margin-right: 2vw;
    text-decoration: none;
    @include small {
      font-size: 1.7rem;
    }
  }

  #menuFilms:hover {
    text-decoration: underline;
  }
}

#welcome {
  align-items: flex-start;
  background-image: url("../images/dynasty.png");
  background-position: center;
  background-size: cover;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100%;

  #welcomeDiv {
    background-color: $primary-color;
    border-radius: 15px;
    box-shadow: 0 0 89px 57px $primary-color;
    margin-top: 90px;
    opacity: 0.8;

    p {
      color: $secondary-color;
      font-size: 20px;
      font-weight: bold;
      text-align: center;
      text-shadow: 3px 4px 5px #000;
    }
  }
}

.henry {
  @include tree-portrait("../images/henry_VIII.jpg");
}

.aragon {
  @include tree-portrait("../images/catherine_of_aragon.jpg");
}

.boleyn {
  @include tree-portrait("../images/anne_boleyn.jpg");
}

.seymour {
  @include tree-portrait("../images/jane_seymour.jpg");
}

.cleves {
  @include tree-portrait("../images/anne_of_cleves.jpg");
}

.howard {
  @include tree-portrait("../images/catherine_howard.jpg");
}

.parr {
  @include tree-portrait("../images/catherine_parr.jpg");
}

.mary {
  @include tree-portrait("../images/mary.jpg");
  margin-top: 5px;
}

.elizabeth {
  @include tree-portrait("../images/elizabeth.jpg");
  margin-top: 5px;
}

.edward {
  @include tree-portrait("../images/edward.jpg");
  margin-top: 5px;
}

.bio {
  margin: 0 auto;
  width: 80%;

  .bioTitle {
    color: $primary-color;
    margin-top: 20px;
    padding-bottom: 5px;
    font-size: 25px;
    font-weight: bold;
  }

  .bioDates {
    color: #909090;
    font-size: 16px;
    padding-bottom: 5px;
    padding-left: 10px;
  }

  .bioText {
    font-size: 1.2rem;
    margin-bottom: 20px;
    text-align: center;
    @include medium {
      font-size: 1.6rem;
      text-align: justify;
    }
  }
}

footer {
  align-content: center;
  border-top: 1px solid $primary-color;
  color: $primary-color;
  display: flex;
  font-size: 1.5rem;
  height: 5vh;
  justify-content: center;
  padding-top: 1vh;
  width: 100%;
}
