@import "queries";

#treeMobileSection {
  direction: row;
  display: flex;
  justify-content: center;
  width: 100%;
  @include medium {
    display: none;
  }
}

.childrenPortraitsMobile {
  margin-top: 170px;
}

.parentsMobile {
  direction: column;
  display: flex;
  justify-content: center;
}

.childrenMobile {
  direction: column;
  display: flex;
  justify-content: center;
}
