@import "queries";
$primary-color: rgb(219,44,77);
$secondary-color: rgb(255,255,255);

@mixin tree-display-row {
  align-self: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@mixin tree-display-column {
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#treeSection {
  background-color: #FDFDFD;
  display: none;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 20vh;
  padding-top: 10vh;
  width: 100%;
  @include medium {
    display: flex;
  }

  .clickHeading {
    color: $primary-color;
    font-size: 3rem;
    font-weight: bold;
    margin: 0 auto;
  }

  #rowParents {
    @include tree-display-column;
  }

  #parentsPortraits {
    @include tree-display-row;
  }

  #rowChildren {
    @include tree-display-row;
  }

  #childrenPortraits {
    @include tree-display-row;
    padding-right: 330px;
  }
}
