
#vidsSection {
  width: 100%;
  padding-top: 12vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 1vh;
  @include medium {
    flex-direction: row;
  }
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  color: #db2c4d;
  font-size: 1.5rem;
  padding-right: 1vw;
  padding-left: 1vw;
  padding-top: 1vh;
}

.description {
  font-size: 1rem;
  padding-right: 1vw;
  padding-left: 1vw;
  padding-top: 0.5vh;
  color: #909090;
  @include small {
    margin-bottom: 30px;
  }
}

.list-group-item:hover {
  background-color: #EFEFEF;
}

footer {
  height: 5vh;
  font-size: 1.5rem;
  color: #db2c4d;
  border-top: 1px solid #db2c4d;
  display: flex !important;
  align-content: center;
  justify-content: center;
  padding-top: 1vh;
}

#load {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
