$primary-color: rgb(219,44,77);
$secondary-color: rgb(255,255,255);

#vidsSection {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 1vh;
  padding-top: 12vh;
  width: 100%;
  @include medium {
    flex-direction: row;
  }
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  color: $primary-color;
  font-size: 1.5rem;
  padding-left: 1vw;
  padding-right: 1vw;
  padding-top: 1vh;
}

.description {
  color: #909090;
  font-size: 1rem;
  padding-left: 1vw;
  padding-right: 1vw;
  padding-top: 0.5vh;
  @include small {
    margin-bottom: 30px;
  }
}

.list-group-item:hover {
  background-color: #EFEFEF;
}

footer {
  align-content: center;
  border-top: 1px solid $primary-color;
  color: $primary-color;
  display: flex !important;
  font-size: 1.5rem;
  height: 5vh;
  justify-content: center;
  padding-top: 1vh;
}

#load {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100%;
}
